<%= form_for(eaten_food) do |f| %>
  <% if eaten_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eaten_food.errors.count, "error") %> prohibited this eaten_food from being saved:</h2>

      <ul>
      <% eaten_food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @foodtypes = Foodtype.all %>
    <%= select_tag "eaten_food_name", options_from_collection_for_select(@foodtypes, "id", "name") %>
    <!--<%= f.label :name %>-->
    <!--<%= f.text_field :name %>-->
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :eaten_at %>
    <%= f.number_field :eaten_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
