<p id="notice"><%= notice %></p>

<h1>Eaten Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eaten_foods.each do |eaten_food| %>
      <tr>
        <td><%= eaten_food.name %></td>
        <td><%= eaten_food.amount %></td>
        <td><%= link_to 'Show', eaten_food %></td>
        <td><%= link_to 'Edit', edit_eaten_food_path(eaten_food) %></td>
        <td><%= link_to 'Destroy', eaten_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= @eaten_foods_attributes %>
<%= @eaten_foods_per_dates %>
<%= @nutrient_sums_per_day %>
